<section class="about">
	<div class="title-head">
		<div class="container">
			<h1><span class="icon about"></span> Who <strong>am I</strong></h1>
		</div>
	</div>
	<div class="gp-r">
		<div class="gp-c2 green">

		</div>
		<div class="gp-c2 photo">

		</div>
		<div class="gp-c2 green">

		</div>
	</div>
</section>