<section class="about">
	<div class="title-head">
		<div class="container">
			<h1><span class="icon about"></span> Who <strong>am I</strong></h1>
		</div>
	</div>
	<div class="gp-r">
		<div class="gp-c2 green">
			<div class="content">
				<h4>My name is <strong>Galih Pranowo</strong>.</h4>
				<p>I'm graphic, web, UI, animation designer, frontend developer and flash programmer. Implement awesome ideas into full-scale design projects.</p>
			</div>
		</div>
		<div class="gp-c2 photo">
			<div class="content">
				<%= image_tag("my-vector.svg") %>
			</div>
		</div>
		<div class="gp-c2 green">
			<div class="content">
				<p>Not just to achieve what is desired. Working give happiness ourselves, it is expected by the nature of us. Machines are never turned on will easily rust, never sharpened knife will not sharp anymore to cut. And not only the equipment that is used to be stored in a dusty crate.</p>
			</div>
		</div>
	</div>
</section>