<section id="career" class="employment">
	<div class="title-head">
		<div class="container">
			<h1>Employment <strong>History</strong></h1>
		</div>
	</div>
	<div class="container">
		<div class="gp-r">
			<!-- L -->
			<div class="gp-c3 border-r">
				<div class="gp-c6">
					<h3>Graphic designer</h3>
				</div>
				<div class="gp-c4">
					<h4>OLTA Grafika</h4>
					<p>Create graphic assets for advertising and publisher company</p>
				</div>
				<div class="gp-c2">
					<p class="date"><em>Aug 2009 - Dec 2009</em></p>
				</div>
			</div>
			<!-- R -->
			<div class="gp-c3 border-l" style="margin-top: 80px">
				<div class="gp-c6">
					<div class="gp-c2">&nbsp;</div>
					<div class="gp-c4"><h3>Multimedia designer</h3></div>
				</div>
				<div class="gp-c2">
					<p class="date a-right"><em>Dec 2010 - Oct 2012 </em></p>
				</div>
				<div class="gp-c4">
					<h4>Gapranimator - Rumah animasi & grafis</h4>
					<p>Freeland Graphic designer, Web & Flash designer (Arts/Creative)</p>
				</div>
			</div>
			<!-- L -->
			<div class="gp-c3 border-r" style="margin-top: -60px">
				<div class="gp-c6">
					<h3>Multimedia instructor</h3>
				</div>
				<div class="gp-c4">
					<h4>Institut Sains & Teknologi Akprind</h4>
					<p>Instructor Flash Animation and Client server  / web programming</p>
				</div>
				<div class="gp-c2">
					<p class="date"><em>June 2009 - Jan 2013</em></p>
				</div>
			</div>
			<!-- R -->
			<div class="gp-c3 border-l" style="margin-top: 20px">
				<div class="gp-c6">
					<div class="gp-c2">&nbsp;</div>
					<div class="gp-c4"><h3>Web designer  & developer</h3></div>
				</div>
				<div class="gp-c2">
					<p class="date a-right"><em>Feb 2013 - Oct 2013</em></p>
				</div>
				<div class="gp-c4">
					<h4>CV. Pusaka Jaya Informatika</h4>
					<p>Product: angetan.com & bakulvoucher.com as web designer - developer and multimedia designer</p>
				</div>
			</div>
			<!-- L -->
			<div class="gp-c3 border-r" style="margin-top: -60px">
				<div class="gp-c6">
					<h3>Frontend developer</h3>
				</div>
				<div class="gp-c4">
					<h4>PT. Softwareseni</h4>
					<p>Do website design, implement design to HTML/HTML5, CSS/CSS3 and javascripts / jQuery</p>
				</div>
				<div class="gp-c2">
					<p class="date present"><em>21 Oct 2013 - present</em></p>
				</div>
			</div>
		</div>
	</div>
</section>