<section id="welcome" class="welcome wrap-l">
	<div id="slides" class="parallax" style="background-image:url(https://dl-web.dropbox.com/get/Apps/Heroku/gapraart/app/assets/images/desk-bw.jpg?_subject_uid=375864436&w=AADcWoPp5EE68L8d6BJAjHWULELfcppjOUcU394zh2g8Tw)" data-stellar-background-ratio="0.2">
		<div class="slides-container">
	    	<div class="parallax img-overlay">
				<div class="img-overlay-solid" style="background-color:rgba(60,62,71,0.3);"></div>
				<div class="caption txt-center ae" data-animation="bounceInLeft" data-delay="300" data-offset="70%">
					<div class="container">
						<h2>welcome to</h2>
						<h1 class="ae" data-animation="flipInY" data-delay="900">my design boards</h1>
						<h4 class="desc ae" data-animation="bounceInLeft" data-delay="1200"> IMPLEMENT AWESOME IDEAS INTO FULL-SCALE DESIGN PROJECTS </h4>
					</div>
				</div>
			</div>
			<div class="parallax img-overlay">
				<div class="img-overlay-solid" style="background-color:rgba(60,62,71,0.3);"></div>
				<div class="caption txt-center ae" data-animation="bounceInLeft" data-delay="300" data-offset="70%">
					<div class="container">
						<h2>welcome to</h2>
						<h1 class="ae" data-animation="flipInY" data-delay="900">my design boards</h1>
						<h4 class="desc ae" data-animation="bounceInLeft" data-delay="1200"> IMPLEMENT AWESOME IDEAS INTO FULL-SCALE DESIGN PROJECTS </h4>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<div class="board-design">
		<div class="container">
			<ul class="board-items">
				<li><span class="icon graphic"></span><label>Graphic</label></li>
				<li><span class="icon website"></span><label>Website</label></li>
				<li><span class="icon ui"></span><label>UI / UX</label></li>
				<li><span class="icon anim"></span><label>Animation</label></li>
				<li><span class="icon code"></span><label>Frontend</label></li>
			</ul>
		</div>
	</div>
</section>