<section class="whatican">
	<div class="title-head">
		<div class="container">
			<h1>What <strong>I can</strong></h1>
		</div>
	</div>
	<div class="container">
		<h4 class="sub-title-head">What i can? Here are some of the skills that I can do</h4>
		<div class="gp-r">
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle graphic"></span>
					</div>
					<div class="desc">
						<h4>graphic design</h4>
						<p>Create visual assets become more attractive and artistic like logo design, website mockup, UI design, illustration, vector image, character design banner and others. Realize the desired visual appearance.</p>
					</div>
				</div>
			</div>
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle website"></span>
					</div>
					<div class="desc">
						<h4>website design</h4>
						<p>Design and implement the design into a website, create a HTML design that semantic and structured with clean CSS. Build HTML, CSS or CSS preprocessor such as SASS / SCSS. Make the website layout really looking good</p>
					</div>
				</div>
			</div>
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle ui"></span>
					</div>
					<div class="desc">
						<h4>ui / ux design</h4>
						<p>Design and implement the design into a website, create a HTML design that semantic and structured with clean CSS. Build HTML, CSS or CSS preprocessor.</p>
					</div>
				</div>
			</div>
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle anim"></span>
					</div>
					<div class="desc">
						<h4>animation design</h4>
						<p>Creating animation to create a banner have information submitted look more alive. create flash animation, flash banner ads, flash animations, interactive media, simulations and others about flash animation technology.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>