<section id="whatican" class="whatican">
	<div class="title-head">
		<div class="container">
			<h1>What <strong>I can</strong></h1>
		</div>
	</div>
	<div class="container pbottom-2">
		<h4 class="sub-title-head">What I can? Here are some skills that I posssess:</h4>
		<div class="gp-r">
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle graphic"></span>
					</div>
					<div class="desc">
						<h4>graphic design</h4>
						<p>Create visual assets to become more attractive and artistic like logo design, website mockup, UI design, illustration, vector image, character design banner and others. Realize the desired visual appearance.</p>
					</div>
				</div>
			</div>
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle website"></span>
					</div>
					<div class="desc">
						<h4>website design</h4>
						<p>Design and implement the design into a website, create a HTML design that semantic and structured with clean CSS. Build HTML, CSS or CSS preprocessor such as SASS / SCSS. Make the website layout really looking good</p>
					</div>
				</div>
			</div>
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle ui"></span>
					</div>
					<div class="desc">
						<h4>ui / ux design</h4>
						<p>Design user interface (UI) for desktop and mobile application and also user experience (UX) for make the application more usability and user friendly.</p>
					</div>
				</div>
			</div>
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle anim"></span>
					</div>
					<div class="desc">
						<h4>animation design</h4>
						<p>Create animation to create a banner have information submitted look more alive. create flash animation, flash banner ads, flash animations, interactive media, simulations and others about flash animation technology.</p>
					</div>
				</div>
			</div>
			<div class="gp-c3">
				<div class="content">
					<div class="circle-icon">
						<span class="icon circle code"></span>
					</div>
					<div class="desc">
						<h4>frontend development</h4>
						<p>Implementation of design using HTML, Stylesheet, Javascript / jQuery. Create a website that looks beautiful and has a good functional effects beautiful and informative with Javascript / jQuery, easy interaction design, effective slide banner/content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="skills">
		<div class="container">
			<div class="gp-r">
				<div class="gp-c3">
					<div class="skill">
						<h4>Hand drawing</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:95%">95%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>Illustrator</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:85%">85%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>corelDRAW</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:95%">95%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>Photoshop</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:90%">90%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>HTML/HTML5</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:95%">95%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>CSS/CSS3 - SASS</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:95%">95%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>jQuery</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:85%">85%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>Wordpress theme</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:85%">85%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>Php & MySQL</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:75%">75%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>Flash & ActionScript</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:85%">85%</span>
						</div>
					</div>
				</div>
				<div class="gp-c3">
					<div class="skill">
						<h4>Ruby on Rails</h4>
						<div class="skill-container">
							<span class="skill-bar" style="width:60%">60%</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>