/* Mixins Border Radius*/
@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin border-radius-tl($radius) {
	-webkit-border-top-left-radius: $radius;
	-moz-top-border-left-radius: $radius;
	-ms-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin border-radius-tr($radius) {
	-webkit-border-top-right-radius: $radius;
	-moz-border-top-right-radius: $radius;
	-ms-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-radius-bl($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-bottom-left-radius: $radius;
	-ms-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin border-radius-br($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-bottom-right-radius: $radius;
	-ms-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

/* Mixins Transition */
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}

/* Mixins Box Shadow */
@mixin box-shadow($box-shadow){
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-ms-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

/* Mixins Text Shadow */
@mixin text-shadow($text-shadow){
	-webkit-text-shadow: $text-shadow;
	-moz-text-shadow: $text-shadow;
	-ms-text-shadow: $text-shadow;
	text-shadow: $text-shadow;
}