/* ===== Content ===== */

body {
	font-family: 'Raleway', sans-serif;
}

.backtop{
	position:fixed;
	bottom:30px;
	right:10px;
	z-index:99999999999;
	display:block;
	padding:14px 10px;
	color:#ddd;
	background:#111;
	cursor:pointer;
	display:none;
	opacity:0.6;
}
.backtop p {
	position:relative;
	margin:0px;
}

/* ===== End of Content ===== */