@import "variables";
@import "mixins";

/* ===== Header ===== */
.nav-fixed {
	position: absolute;
	z-index: 99;
	width: 100%;
	@include transition(all .3s ease-in-out);
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background: rgba(56, 173, 214, 0.7);
		@include transition(all .3s ease-in-out);
		@include border-radius-br(7px);
		@include border-radius-bl(7px);
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		li {
			display: table-cell;
			width: 1%;
			@include transition(all .3s ease-in-out);
			a {
				display: block;
				padding: 10px 15px;
				color: #fff;
				text-align: center;
				font-weight: 300;
				text-transform: uppercase;
				&:hover {
					background: #38add6;
					color: #fff;
				}
			}
		}
		li.first {
			a {
				&:hover {
					@include border-radius-bl(7px);
				}
			}
		}
		li.last {
			a {
				&:hover {
					@include border-radius-br(7px);
				}
			}
		}
	}
}
.nav-fixed.fixed {
	position: fixed;
	z-index: 99;
	background: #fff;
	width: 100%;
	border-bottom: 3px solid #ccc;
	@include transition(all .3s ease-in-out);
	@media (max-width: $screensmall) {
		right: -180px;
		width: 180px;
	}
	.container {
		@media (max-width: $screensmall) {
			padding: 0;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background: transparent;
		@include transition(all .3s ease-in-out);
		li {
			display: block;
			float: left;
			width: auto;
			@include transition(all .3s ease-in-out);
			@media (max-width: $screensmall) {
				float: none;
			}
			a {
				display: block;
				padding: 10px 15px;
				border-left: 1px solid #ddd;
				color: #777;
				font-size: 12px;
				text-transform: uppercase;
				&:hover {
					color: #38add6;
					background: #eee;
				}
				@media (max-width: $screensmall) {
					border: 0;
					border-bottom: 1px solid #eee;
					text-align: left;
				}
			}
		}
	}
	.visited {
		background: #eee;
	}
}
.navi-blue.fixed {
	position: fixed;
}

.m-menu {
    position: fixed;
    background: #000;
    color: #fff;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 9;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    opacity: .6;
    filter: alpha(opacity=60);
}
body.body-overlay {
    position: relative;
}
.menu-body-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 8;
}

/* ===== End of Header ===== */