// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixins";
//@import "font-awesome-sprockets";
//@import "font-awesome";

/* ===== Content ===== */

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.backtop{
	position:fixed;
	bottom:30px;
	right:10px;
	z-index:99999999999;
	padding:14px 10px;
	color:#ddd;
	background:#111;
	cursor:pointer;
	display:none;
	opacity:0.6;
}
.backtop p {
	position:relative;
	margin:0px;
}
.parallax {
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
.slides-containerz {
	height: 100%;
}
.owl-item {
	float: left;
}
.carblue {
	background: #38add6;
}
.container {
	@media (min-width: 1400px) {
		width: 90%;
	}
}

/* Welcome */
.welcome {
	overflow: hidden;
	.container {
		@media (min-width: 1400px) {
			text-align: center;
		}
		@media (max-width: $screenmedium) {
			text-align: center;
		}
	}
	.caption {
		position: relative;
		top: 30%;
		text-transform: uppercase;
		h1, h2, h3, h4, h5 {
			font-family: 'Raleway', sans-serif;
		}
		h1 {
			background: rgba(56,173,214,0.7);
			color: #fff;
			font-size: 72px;
			font-weight: 300;
			text-align: center;
			line-height: 1;
			display: block;
			width: 750px;
			margin: 15px auto;
			@media (max-width: $screenmedium) {
				width: 100%;
			}
			@media (max-width: $screenxsmall) {
				font-size: 44px;
				padding: 5px 0;
			}
		}
		h2 {
			background: rgba(0,0,0,0.7);
			color: #fff;
			font-size: 36px;
			font-weight: 300;
			display: inline;
			padding: 3px 9px;
			@media (max-width: $screenxsmall) {
				font-size: 24px;
			}
		}
		h4 {
			background: #000;
			color: #fff;
			font-size: 20px;
			font-weight: 300;
			float: right;
			padding: 0 10px;
			margin: 0;
			@media (min-width: 1400px) {
				display: inline;
				float: none;
			}
			@media (max-width: $screenmedium) {
				float: none;
				display: inline;
			}
			@media (max-width: $screenxsmall) {
				font-size: 16px;
			}
		}
	}
	.board-design {
		position: relative;
		z-index: 9;
		.container {
			@media (max-width: $screensmall) {
				padding: 0;
			}
		}
		.board-items {
			background: rgba(56,173,214,0.7);
			margin: 0;
			padding: 0;
			text-align: center;
			@media (max-width: $screensmall) {
				display: none;
			}
			li {
				display: table-cell;
				width: 1%;
				padding: 30px 0 20px;
				label {
					text-transform: uppercase;
					font-size: 20px;
					color: #fff;
				}
			}
			.icon {
				display: block;
				background-image: url(http://assets.gapraart.com/images/sprites-ico-blue.png?_subject_uid=375864436&w=AACdln-D3kInWTC9EwYVamXl0Vod8oh2UFnOK9mK5tZ1Gw);
				background-repeat: no-repeat;
				width: 52px;
				height: 50px;
				margin: 0 auto 15px;
			}
			.icon.graphic { background-position: -62px -109px; }
			.icon.website { background-position: -62px -218px; }
			.icon.ui { background-position: -55px -165px; }
			.icon.anim { background-position: -57px 0; }
			.icon.code { background-position: -62px -56px; }
		}
	}
}

/* Title head */
.title-head {
	padding: 40px 0;
	h1 {
		color: #666;
		font-family: 'Raleway', sans-serif;
		font-size: 32px;
		font-weight: 400;
		text-transform: uppercase;
		strong {
			font-weight: 600;
		}
		&:before {
			width: 72px;
			height: 72px;
			background-image: url(http://assets.gapraart.com/images/sprites-ico-blue.png?_subject_uid=375864436&w=AACdln-D3kInWTC9EwYVamXl0Vod8oh2UFnOK9mK5tZ1Gw);
			background-repeat: no-repeat;
			content: "";
			display: inline-block;
			margin-right: 20px;
			vertical-align: middle;
			@media (max-width: $screenxsmall) {
				display: block;
				margin: 0 auto;
			}
		}
		@media (max-width: $screenxsmall) {
			text-align: center;
		}
	}
}
h4.sub-title-head {
	font-weight: 300;
	font-size: 20px;
	margin: 0 0 20px;
	color: #777;
	@media (max-width: 479px) {
		text-align: center;
	}
}

/* Wrap */
.wrap-l {
	width: 100%;
	margin: 0 auto;
	@media (min-width: 1367px) {
		width: 1360px;
	}
}

/* Who am I */
.about {
	.gp-r > div {
		height: auto;
	}
	.title-head {
		h1 {
			&:before {
				background-position: -126px -396px;
			}
		}
	}
	.photo {
		position: relative;
		background: #333;
		overflow: hidden;
		@media (max-width: $screenmedium) {
			/* height: 300px !important; */
		}
		@media (max-width: $screensmall) {
			padding: 0;
		}
		.content {
			padding: 0;
			text-align: right;
			img {
				@media (max-width: $screenlarge) {
					position: absolute;
					bottom: 0;
					right: 0;
				}
				@media (max-width: $screensmall) {
					position: relative;
				}
			}
		}
	}
	.gray {
		padding: 0;
		overflow: hidden;
		@media (max-width: $screenmedium) {
			/* height: 300px !important; */
		}
		img {
			width: 100%;
			@media (min-width: 1024px) and (max-width: 1200px) {
				width: auto;
				height: 100%;
			}
			@media (max-width: $screenmedium) {
				width: auto;
				height: 100%;
			}
			@media (max-width: $screensmall) {
				width: 100%;
				height: auto;
			}
		}
	}
	.content {
		padding: 20px 30px;
		color: #f5f5f5;
		font-weight: 300;
		h3 {
			color: #777;
			font-size: 24px;
			font-weight: 300;
			text-align: center;
		}
		h4 {
			margin: 0 0 10px;
			font-weight: 300;
			strong {
				font-weight: 400;
			}
		}
		p {
			line-height: 24px;
		}
	}
	.sosmed {
		margin: 30px 0 0;
		padding: 0;
		list-style-type: none;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		li {
			float: left;
			a {
				color: #f5f5f5;
				padding: 0 10px;
				font-size: 36px;
			}
		}
		li.first{
			a {
				padding: 0 10px 0 0;
			}
		}
	}
}

/* What I can */
.whatican {
	background: #f9f9f9;
	.title-head {
		padding: 40px 0 20px;
		h1 {
			&:before {
				background-position: -126px -317px;
			}
		}
	}
	.icon {
		display: block;
		background-image: url(http://assets.gapraart.com/images/sprites-ico-blue.png?_subject_uid=375864436&w=AACdln-D3kInWTC9EwYVamXl0Vod8oh2UFnOK9mK5tZ1Gw);
		background-repeat: no-repeat;
		width: 52px;
		height: 50px;
		margin: 26px auto 0;
	}
	.circle-icon {
		width: 105px;
		height: 105px;
		float: left;
		margin-top: 5px;
		margin-right: 20px;
		border: 2px solid $colormain;
		@include border-radius(50%);
		@media (max-width: $screenmedium) {
			margin-top: 0;
		}
		@media (max-width: 479px) {
			float: none;
			margin: 0 auto;
		}
	}
	.icon.graphic { background-position: 0px -110px; }
	.icon.website { background-position: -1px -218px; }
	.icon.ui { background-position: 6px -165px; }
	.icon.anim { background-position: 5px 0; }
	.icon.code { background-position: 0 -56px; }
	.desc {
		@media (max-width: 479px) {
			text-align: center;
		}
		h4 {
			color: $colormain;
			font-size: 20px;
			font-weight: 300;
			text-transform: uppercase;
		}
		p {
			line-height: 1.3;
			color: #777;
			font-weight: 300;
			@media (max-width: 1200px) {
				font-size: 13px;
			}
		}
	}
	.gp-r {
		margin: 0 -30px;
	}
	.content {
		padding: 0 15px 20px 15px;
		@media (max-width: 1200px) {
			padding: 0 15px;
		}
	}
	.skills {
		background-image: url(http://assets.gapraart.com/images/wall.jpg?_subject_uid=375864436&w=AADby2FcHXQplJk-arnv16get9v8cOodlIKWGk2rRjliYA);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		padding: 30px 0 60px;
		.skill {
			padding: 5px 15px;
		}
		.skill-container {
			position: relative;
			background: #fff;
			height: 30px;
			.skill-bar {
				display: block;
				height: 30px;
				line-height: 30px;
				background: #72dbff;
				color: #fff;
				text-align: right;
				padding-right: 10px;
			}
		}
	}
	.gp-c3 {
		@media (max-width: $screenmedium) {
			&:after {
				display: table;
				content: "";
				clear: both;
			}
		}
	}
}
.myworks {
	min-height: 700px;
	.title-head {
		h1 {
			&:before {
				background-position: -126px -238px;
			}
		}
	}
	.tab-menu {
		margin: 0 0 30px;
		padding: 0;
		list-style-type: none;
		text-align: center;
		@media (max-width: $screenmedium) {
			&:after {
				display: table;
				content: "";
				clear: both;
			}
		}
		@media (max-width: $screensmall) {
			display: none;
		}
		li {
			display: inline-block;
			@media (max-width: $screenmedium) {
				display: block;
				float: left;
			}
			a {
				display: block;
				padding: 7px 20px;
				border: 1px solid $colormain;
				color: $colormain;
				&:hover {
					background: $colormain;
					color: #fff;
				}
				@media (max-width: $screenmedium) {
					border-right: 0;
					padding: 7px 9px;
				}
			}
		}
		li.last {
			a {
				@media (max-width: $screenmedium) {
					border-right: 1px solid $colormain;
				}
			}
		}
	}
	.slide-works {
		.slide-works-content {
			position: relative;
			overflow: hidden;
			.gallery {
				position: relative;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				&:after {
					display: table;
					content: "";
					clear: both;
				}
			}
			.owl-item {
				.work {
					width: 100%;
				}
			}
			.work {
				width: 20%;
				float: left;
				@include transition(all .4s ease-in-out);
				@media (max-width: $screenmedium) {
					width: 33.33%;
				}
				@media (max-width: $screensmall) {
					width: 50%;
				}
				a {
					display: block;
					overflow: hidden;
					@include transition(all .4s ease-in-out);
				}
				img {
					width: 100%;
				}
			}
		}
		.slide-works-controls {
			margin: 10px auto;
			&:after {
				display: table;
				content: "";
				clear: both;
			}
			.btn {
				display: block;
				float: left;
				background: #ddd;
				color: $colormain;
				border: 1px solid #fff;
				font-size: 2em;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				&:hover {
					background: #888;
					color: #fff;
				}
			}
			.prev {

			}
			.next {

			}
		}
	}
	.work-info {
		padding: 40px 0;
		margin: 0;
		h3, p {
			color: #fff;
		}
		h3 {
			margin: 0;
			font-weight: 400;
			font-size: 24px;
		}
		p {
			margin: 0 0 15px;
			font-size: 16px;
			a {
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.more-works-btn {
			color: #fff;
			border: 1px solid #fff;
			text-transform: uppercase;
			&:hover {
				background: #fff;
				color: $colormain;
			}
		}
	}
}
.work-wrap {
	hr {
		margin: 10px 0;
	}
	h4 {
		color: #999;
		font-weight: normal;
	}
}

// employment
.employment {
	padding-bottom: 60px;
	.title-head {
		h1 {
			&:before {
				background-position: -126px -159px;
			}
		}
	}
	.gp-c3.border-r {
		padding-right: 0;
		@media (max-width: $screenmedium) {
			padding-right: 10px;
		}
	}
	.gp-c3.border-l {
		padding-left: 0;
		@media (max-width: $screenmedium) {
			padding-left: 10px;
		}
	}
	.gp-c6 {
		padding-bottom: 0;
	}
	.gp-c4, .gp-c2 {
		padding-top: 0;
	}
	h3 {
		margin: 0 0 10px;
		color: $colormain;
		font-weight: 300;
		@media (max-width: $screensmall) {
			margin: 30px 0 10px;
		}
	}
	h4 {
		font-weight: 600;
		font-size: 18px;
		margin: 0;
	}
	.date {
		border-bottom: 1px solid $colormain;
		padding-bottom: 5px;
		@media (max-width: $screenmedium) {
			position: absolute;
			top: 15px;
			right: 20px;
			border-bottom: 0;
		}
		@media (max-width: $screensmall) {
			right: inherit;
			left: 20px;
		}
	}
	.date.present {
		color: #38add6;
	}
	.border-l {
		border-left: 2px solid $colormain;
		@media (max-width: $screenmedium) {
			border-left: 0;
			margin-top: 0 !important;
		}
		.gp-c2 {
			padding-left: 0;
			@media (max-width: $screenmedium) {
				padding: 0 0 0 10px;
				position: static;
			}
		}
		.gp-c4 {
			padding-bottom: 0;
			@media (max-width: $screenmedium) {
				padding: 0 10px 0;
			}
		}
		.gp-c6 {
			padding-left: 5px;
			@media (max-width: $screenmedium) {
				padding-left: 0;
				padding-top: 0;
			}
			.gp-c2 {
				@media (max-width: $screenmedium) {
					display: none;
				}
			}
		}
	}
	.border-r {
		border-right: 2px solid $colormain;
		margin-right: -2px;
		@media (max-width: $screenmedium) {
			margin-right: 0;
			margin-top: 0 !important;
			border-right: 0;
		}
		.gp-c2 {
			padding-right: 0;
			@media (max-width: $screenmedium) {
				position: static;
				padding-bottom: 0;
			}
		}
		.gp-c4 {
			@media (max-width: $screenmedium) {
				padding-bottom: 0;
			}
		}
		.gp-c6 {
			@media (max-width: $screenmedium) {
				padding-top: 0;
			}
		}
	}
	.gp-c3.border-r, .gp-c3.border-l {
		@media (max-width: $screenmedium) {
			border-bottom: 1px solid $colormain;
		}
	}
}

// Author of Book
.book {
	background: #f5f5f5;
	padding-bottom: 60px;
	.title-head {
		h1 {
			&:before {
				background-position: -126px -1px;
			}
		}
	}
	.book-image {
		width: 80px;
		height: 100px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.book-info {
		a {
			color: inherit;
			&:hover {
				color: $colormain;
			}
		}
	}
	h4 {
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 5px;
	}
	p { margin: 0; }
	p.publisher { color: #999; }
	p.isbn { font-weight: bold; }
	.gp-c2 {
		@media (max-width: $screenmedium) {
			&:after {
				display: table;
				content: "";
				clear: both;
			}
		}
	}
}

// Contact
.contact {
	background-image: url(http://assets.gapraart.com/images/coffe-wall-bw.jpg?_subject_uid=375864436&w=AACSCBKzEBduIzCB43zKntxkx2K__ieOHkaNKpj_w4lipQ);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	@media (max-width: $screenmedium) {
		background-attachment: inherit;
	}
	.title-head {
		h1 {
			&:before {
				background-position: -126px -80px;
			}
		}
	}
	h3 {
		margin: 10px 0;
		color: #111;
		@media (max-width: 479px) {
			font-size: 20px;
		}
	}
	.sosmed {
		list-style-type: none;
		margin: 20px 0 0;
		padding: 0;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		li {
			float: left;
			padding-right: 10px;
			a {
				font-size: 2.6em;
				color: #fff;
				@media (max-width: 479px) {
					font-size: 2.4em;
				}
				&:hover {
					color: #222;
				}
			}
		}
	}
}

/* Grayscale */
img.grayscale {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(1);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	/* filter: url(#grayscale); */
	filter: gray;
}
.img-fit { width: 100%; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	*display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	*display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}



/* ===== End of Content ===== */

/* ===== 3d unfold ===== */
.mfp-3d-unfold {
  .mfp-content {
    perspective: 2000px; 
  }
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
  }
  
  &.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: rotateY(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: rotateY(60deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    } 
  }  
}
