<footer>
	<div class="carblue p-2">
		<div class="container">
			<div class="gp-r">
				<div class="gp-c6 txt-white a-center">
					Copyright &copy; 2015 Gapra Art. All rights reserved.<br/>Photography content from <%= link_to('unplash.com', 'http://www.unplash.com', class: 'txt-white', target: '_blank') %>
				</div>
			</div>
		</div>
	</div>
</footer>