<header>
	<nav class="navi-bar navi-green">
		<div class="container">
			<ul class="navi navi-menu for-main-menu">
				<li><a href="#" class="branch">Gapra art</a></li>
				<li><a href="#">home</a></li>
				<li><a href="#">who am i</a></li>
				<li><a href="#">what i can</a></li>
				<li><a href="#">my works</a></li>
				<li><a href="#">my career</a></li>
				<li><a href="#">contact</a></li>
			</ul>
		</div>
	</nav>
</header>