<header>
	<nav class="navi-bar navi-blue">
		<div class="container">
			<ul class="navi navi-menu for-main-menu">
				<li class="first"><a href="#welcome">welcome</a></li>
				<li><a href="#whoami">who am i</a></li>
				<li><a href="#whatican">what i can</a></li>
				<li><a href="#works">my works</a></li>
				<li><a href="#career">my career</a></li>
				<li class="last"><a href="#contact">contact</a></li>
			</ul>
		</div>
	</nav>
	<nav class="nav-fixed">
		<div class="container">
			<ul class="navi-fixed">
				<li><a href="#welcome">welcome</a></li>
				<li><a href="#whoami">who am i</a></li>
				<li><a href="#whatican">what i can</a></li>
				<li><a href="#works">my works</a></li>
				<li><a href="#career">my career</a></li>
				<li><a href="#contact">contact</a></li>
			</ul>
		</div>
	</nav>
</header>